<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>My name is Dan Hoying</h1>
    <p>This blog was built by following Mackenzie Child's video tutorial in an effort to enhance my web development skills.  Full credit for the design and implementation goes to him.</p>
    <p>The screencast can be found at <a href="http://mackenziechild.me/12-in-12/2/">Mackenzie's website.</a></p>
  </div>
</div>